export DB_CONNECTION_URL=jdbc:postgresql://localhost:5432/pathops_control_plane
export DB_USERNAME=admin
export DB_PASSWORD=admin
export HIBERNATE_DDL_AUTO=validate
export JPA_SHOW_SQL=true

if [ -f .envrc.local ]; then
  source_env .envrc.local
fi
